<%- include ("../partials/header")  %>
    <div class="container">
        <header class="jumbotron">
            <h1 class="display-4">Welcome To YelpCamp</h1>
            <p class="lead">View our hand-picked campgrounds from all over World</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a New Campground</a>
            </p>
        </header>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Our Most Popular Campgrounds</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <% campgrounds.forEach((campground)=>{ %>
                <div class="col-md-3 col-sm-6" style="margin-bottom: 20px;">
                    <div class="img-thumbnail text-center">
                        <figure class="figure">
                            <img src="<%= campground.image %>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                            <figcaption class="figure-caption text-center">
                                <h4>
                                    <%= campground.name %>
                                </h4>
                            </figcaption>
                        </figure>
                        <p class="text-center">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include ("../partials/footer")  %>